{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'users/login.css' %}">
	<title>Login</title>
</head>
<body>

	<header>
		<div class="heading">
		  <h2>Solar Eclipse</h2>
		  <nav>
		    <ul class="menu">
		      <li><a href="{% url 'space-main' %}">Главная</a></li>
		      <li><a href="{% url 'space-history'%}" id="history">История</a></li>
		      <li><a href="{% url 'space-records' %}">Рекорды</a></li>
		      <li><a href="{% url 'space-graph' %}">График</a></li>
		      <li><a href="{% url 'space-comments' %}">Статьи</a></li>
		    </ul>
		  </nav>
		</div>
	</header>

	<div class="content-section cont">
		<form method="POST">
			{% csrf_token %}
			<fieldset class = "form-group">
				<legend>Вход</legend>

			</fieldset>
			{{form|crispy }}
			<div class="form-group">
				<button type = "submit", class = "btn">Sign in</button>
			</div>
		</form>
	</div>


	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>
