{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{% static 'space/graph.css' %}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>
  <title>Document</title>

  <style>
    #text {
      font-size: 30px;
      margin-top: 20px;
    }
  </style>
</head>
<body>

  <header>
    <div class="heading">
      <h2>Solar Eclipse</h2>
      <nav>
        <ul class="menu">
          <li><a href="{% url 'space-main'%}">Главная</a></li>
          <li><a href="{% url 'space-history'%}">История</a></li>
          <li><a href="{% url 'space-records' %}">Рекорды</a></li>
          <li><a href="{% url 'space-graph' %}" id="planets">График</a></li>
          <li><a href="{% url 'space-comments' %}">Статьи</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <section id="planet">
    <div class="container">
        <div id = "text">
          При помощи космических спутников появилась возможность получать данные о погоде из космоса. Вот пример минимальных температур в разных странах
        </div>
        <canvas id="myChart" style="margin-top: 30px"></canvas>
    </div>
  </section>

  <footer>
    <div class="contacts">             <!-- конктатная информация-->
      <ul class="footer">
        <li id = "test">Украина</li>
        <li>Телефон: +380966534567</li>
        <li>Почта: solareclispe@gmail.com</li>
      </ul>
    </div>
  </footer>

  <script>
    function func_load(){
      function build(temp){
        var ctx = document.getElementById('myChart').getContext('2d');
        var chart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: ["Paris", "Kiev", "London", "Berlin", "Moscow", "Milan", "Warszawa", "Madrid", "Lisbon", "Prague", "Zagreb", "Athens", "Amsterdam", "Wien"],
                datasets: [{
                  
                    label: "Minimal temperatures",
                    //backgroundColor: 'white',
                    borderColor: 'black',
                    borderWidth: '2',
                    data: temp,

                }]
            },
            options: {
              legend: {
                display: true,
                position: 'bottom',
                labels: {
                  boxWidth: 80,
                  fontColor: 'black'
                }
              },
              scales: {
                xAxes: [{
                  scaleLabel: {
                    display: true,
                    labelString: "City",
                    fontColor: "red"
                  }
                }],
                yAxes: [{
                  scaleLabel: {
                    display: true,
                    labelString: "Temperature in Celsius",
                    fontColor: "green"
                  }
                }]
              }
            }
        });
      }

      function fill(obj, it1, num1) {
        min_temperatures[num1] = Math.floor(obj.main.temp_min - 273,15);
        if (num1 = 13) {;
          min_temperatures[num1 + 1] = 0;
          build(min_temperatures);
        }
      }

      function Ajax(str1, num) {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function(){
          if (xhttp.readyState == 4 && xhttp.status == 200) {
            var it = "cont" + num.toString();
            var myObj = JSON.parse(xhttp.responseText);
            fill(myObj, it, num);
          }
        };
        xhttp.open("GET", str1, true );
        xhttp.send();
      }

      var cities = ["Paris", "Kiev", "London", "Berlin", "Moscow", "Milan", "Warszawa", "Madrid", "Lisbon", "Prague", "Zagreb", "Athens", "Amsterdam", "Wien"];
      var countries = ["fr", "ua", "uk", "ger", "ru", "it", "pl", "es", "pt", "cz", "hr","gr", "nl", "at"];
      var min_temperatures = [];
      for (i = 0; i < 14; i++)
      {
        var str = "http://api.openweathermap.org/data/2.5/weather?q=";
        str += cities[i] + "," + countries[i] + "&APPID=74bd646df74b9dceef7bde24250b991e"
        Ajax(str, i);
        str = " ";
      }
    }

    func_load()
  </script>

</body>
</html>
