@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Caveat|Cuprum|Lobster|Marck+Script|Neucha|Pacifico|Pangolin');
body {
  font-family: 'Neucha', cursive;
  margin: 0;
  padding: 0;
}


.heading {
  background: #1c1c1c;
  color: #e5e5e5;
  height: 100px;
}

.heading h2 {
  display: inline-block;
  color : #eae727;
  font-size: 35px;
  letter-spacing: 8px;
  margin-left: 20px;
  text-shadow: 2px 3px #000000;
  float: left;
  font-family: "Pacifico";
}


.menu {
  padding: 0;
  margin: 0;
  display: block;
}

.menu li {
  float: left;
  display: block;
  margin-left: 190px;
  margin-top: 50px;
}

.menu a {
  text-decoration: none;
  font-size: 21px;
  color: white;
  display: inline-block;
  position: relative;
}

#history::before,
#history::after{
    content: '';
    position: absolute;
    width: 0.001%;
    height: 2px;
    background: #a51010;
    transition: 0.3s;
    top: 160%;
}

#history::before{
     left: 50%;
}
#history::after{
    right: 50%;
}
#history::before,
#history::after{
    width: 80%;
}

#space {
  background: #d8d8d8;
  padding-bottom: 100px;
}

.container {
  margin: 0 auto;
  width: 830px;
  height: 2150px;
  border-left: 2px solid grey;
  border-right: 2px solid grey;
  border-bottom: 2px solid grey;
  padding: 5px;
  background: white;
}

.container h1 {
  padding-top: 100px;
  text-align: center;
  font-size: 30px;
}

.text {
  width: 600px;
  margin: 0 auto;
}

p {
  line-height: 30px;
  font-size: 20px;
}

dl {
  line-height: 30px;
  font-size: 20px;
  margin-left: 20px;
}

.container-map {
  margin: 0 auto;
  width: 1000px;
  padding-top: 60px;
  position: relative;
}

#map {
  background: black;
  height: 800px;
}

#str1 {
  color: white;
  font-size: 30px;
  position: absolute;
  bottom: 280px;
  left: 20px;
}

#str2 {
  color: white;
  font-size: 30px;
  position: absolute;
  bottom: 380px;
  left: 270px;
}

#str3 {
  color: white;
  font-size: 30px;
  position: absolute;
  bottom: 380px;
  left: 600px;
}


#str4 {
  color: white;
  font-size: 30px;
  position: absolute;
  bottom: 300px;
  left: 850px;
}

.container-map h1 {
  color: white;
  padding-bottom: 70px;
  padding-left: 370px;
  font-size: 30px;
}

footer {
  background: black;
  height: 70px;
}

.footer {
  padding: 0;
  margin: 0;
  display: block;
}

.footer li {
  float: left;
  display: block;
  margin-left: 210px;
  padding: 11px 22px;
  color: white;
}
