<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="records.css">
  <title>Document</title>
</head>
<body>
  <header>
    <div class="heading">
      <h2>Solar Eclipse</h2>
      <nav>
        <ul class="menu">
          <li><a href="index.html">Главная</a></li>
          <li><a href="history.html">История</a></li>
          <li><a href="records.html" id="records">Рекорды</a></li>
          <li><a href="planets.html">Погода</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <section id="table">
    <div class="header">
      <h1>Рекорды космонавтики</h1>
    </div>

    <div class="table">
      <table>
        <tr>
          <th>Год</th>
          <th>Имя</th>
          <th>Рекорд</th>
        </tr>
        <tr>
          <td>1998</td>
          <td>Джонн Гленн</td>
          <td>Старейший человек в космосе. Гленн был в так называемой первой семерке американских
             астронавтов, он был первым американским астронавтом, совершившим орбитальный
            космический полет 20 февраля 1962 года. Поэтому Гленну принадлежит рекорд
             и самого длительного периода между двумя космическими полетами.</td>
        </tr>
        <tr>
          <td>1961</td>
          <td>Герману Титов</td>
          <td>Самый молодой космонавт. Космонавту Герману Титову было 25 полных лет, когда он отправился в космос на корабле «Восток-2» 9 августа 1961 года. Он стал вторым человеком, облетевшим Землю,
            выполнив 17 витков вокруг планеты в течение 25-часового полета.</td>
        </tr>
        <tr>
          <td>1967</td>
          <td>Валерий Поляков</td>
          <td>Самый долгий космический полет. С 1994 по 1995 год он провел на станции «Мир» 438 суток.
             Ему же принадлежит рекорд самого длительного одиночного пребывания в космосе.</td>
        </tr>
        <tr>
          <td>1961</td>
          <td>Алан Шеппард </td>
          <td>5 мая 1961 года Алан Шеппард стал первым американцем, покинувшим пределы Земли в ходе
           суборбитального космического полета.
            Ему же принадлежит рекорд самого короткого полета в космос, который длился всего 15 минут</td>
        </tr>
        <tr>
          <td>----</td>
          <td>Сергей Крикалев</td>
          <td>Дольше всех в космосе провел космонавт Сергей Крикалев,
          который в ходе шести полетов провел в космосе более 803 дней</td>
        </tr>
        <tr>
          <td>1996</td>
          <td>шаттл Columbia</td>
          <td>Самая длительная миссия шаттла</td>
        </tr>
        <tr>
          <td>2001</td>
          <td>Джим Восс</td>
          <td>Самый длительный выход в космос. Джим Восс и Сьюзан Хелмс провели почти девять часов за
            пределами шаттла Discovery и МКС, готовя станцию к прилету нового модуля</td>
        </tr>
        <tr>
          <td>1998 </td>
          <td>Международная космическая станция</td>
          <td>Самый дорогой космический корабль.Станция стала самым дорогим одиночным техническим объектом из когда-либо построенных и самым большим космическим кораблем. В его строительстве
            принимали участие 15 стран, ее размеры на сегодняшний день составляют почти 110 м</td>
        </tr>
      </table>
    </div>
  </section>

  <footer>
    <div class="contacts">
      <ul class="footer">
        <li>Украина</li>
        <li>Контакты</li>
        <li>Помощь</li>
        <li>О сайте</li>
      </ul>
    </div>
  </footer>


</body>
</html>
